<mat-toolbar color="primary" class="mat-elevation-z10 fixed-header">
  <span class="images"><img src="../assets/adhoc-logo-w.png" alt="adhoclogo" height="55" [routerLink]="['']"></span>
  <span class="spacer"></span>
  <span class="images">
    <a href="https://github.com/PavelYaroshchyk/staedl" target="_blank">
      <img src="../assets/github.svg" alt="repo" height="32">
    </a>
  </span>
</mat-toolbar>
<div id="context" class="app-content">
  <router-outlet></router-outlet>
</div>

<div class="gradient-container">
  <!--<div class="bottom-gradient">-->
    <!--<div class="wave">-->
      <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1170 193">-->
        <!--<path d="M1170 131.2c0 0-81-84.4-224.3-98.4S713 72 665 97c-86 46-148 63-271 7C221.7 25.5 56 104.5-4 197.4 -4 58.7-3.3 0.3-3.3 0.3L1175 0V131.2z"></path>-->
      <!--</svg>-->
    <!--</div>-->
  <!--</div>-->
  <div class="grey-wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none" class="svg">
      <path d="M-3.64,50.81 C250.72,37.98 202.62,115.95 501.45,56.73 L500.00,150.00 L0.00,150.00 Z" class="path"></path>
    </svg>
  </div>
</div>
