<mat-card>
  <mat-card-content>
    <mat-card class="t-and-cs">
      <mat-card-content>
        <h1>Terms and Conditions</h1>
        <p>These terms and conditions outline the rules and regulations for the use of Taedl's Application.</p>

        <p>By accessing this application we assume you accept these terms and conditions in full. Do not continue to use Taedl application
          if you do not accept all of the terms and conditions stated on this page.</p>
        <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice
          and any or all Agreements: “Client”, “You” and “Your” refers to you, the person accessing this website
          and accepting the Company’s terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers
          to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client
          or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake
          the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
          of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect
          of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law
          of . Any use of the above terminology or other words in the singular, plural,
          capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

        <h2>License</h2>
        <p>Taedl software is licensed under MIT license.</p>

        <h2>Acceptable Use Policy</h2>
        No illegal, harmful, or offensive use or content.
        We reserve full and final discretion as to whether certain uses violate this acceptable use policy. You agree that our determination is final.

        <h2>Limitations of Liability</h2>
        Under no circumstances shall Taedl or its affiliates, partners, suppliers, or licensors be liable to you for any indirect, incidental, special, consequential or punitive damages (including damages for loss of profits, goodwill, or any other intangible loss) arising out of or relating to your access to or use of, or your inability to access or use, the services or any materials or content on the services, whether based on warranty, contract, tort (including negligence), statute, or any other legal theory, and whether or not any taedl entity has been informed of the possibility of damage.  Without limiting the generality of the foregoing, taedl’s aggregate liability to you (whether under contract, tort, statue or othewise) shall be zero dollars. The foregoing limitations will apply even if any remedy fails of its essential purpose.

        <h2>Privacy Policy</h2>

        <p>It is Taedl’s policy to respect your privacy regarding any information we may collect while operating our Website and web application. This Privacy Policy applies to <a href="https://taedl.io">https://taedl.io</a> and its sub domains (hereinafter, "us", "we", "https://taedl.io", "https://app.taedl.io", "https://api.taedl.io"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
        <p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.</p>

        <h2>Application Users</h2>
        <p>Like most website operators, Taedl collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Taedl’s purpose in collecting non-personally identifying information is to better understand how Taedl’s visitors use its website. From time to time, Taedl may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
        <p>Taedl also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users. Taedl only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>

        <h2>Gathering of Personally-Identifying Information</h2>
        <p>Certain visitors to Taedl’s websites choose to interact with Taedl in ways that require Taedl to gather personally-identifying information. The amount and type of information that Taedl gathers depends on the nature of the interaction. For example, we ask visitors who sign up for a blog at https://taedl.io to provide a username and email address.</p>

        <h2>Security</h2>
        <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

        <h2>Links To External Sites</h2>
        <p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.</p>
        <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>


        <h2>Aggregated Statistics</h2>
        <p>Taedl may collect statistics about the behavior of visitors to its website. Taedl may display this information publicly or provide it to others. However, Taedl does not disclose your personally-identifying information.</p>

        <h2>Privacy Policy Changes</h2>
        <p>Although most changes are likely to be minor, Taedl may change its Privacy Policy from time to time, and in Taedl’s sole discretion. Taedl encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>


        <h2></h2>
        <p></p>

        <h2>Credit & Contact Information</h2>
        <p>If you have any questions about this Privacy Policy, please contact us via <a href="https://github.com/taedl/taedl" target="_blank" class="github">GitHub</a>.</p>

      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
