<mat-card>
  <mat-card-content>
    <mat-card class="t-and-cs">
      <mat-card-content>
        <h3>1.	ACCEPTABLE USE POLICY</h3>
        NO ILLEGAL, HARMFUL, OR OFFENSIVE USE OR CONTENT
        WE RESERVE FULL AND FINAL DISCRETION AS TO WHETHER CERTAIN USES VIOLATE THIS ACCEPTABLE USE POLICY. YOU AGREE THAT OUR DETERMINATION IS FINAL.
        <h3>2. LIMITATIONS OF LIABILITY</h3>
        UNDER NO CIRCUMSTANCES SHALL TAEDL OR ITS AFFILIATES, PARTNERS, SUPPLIERS, OR LICENSORS BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES (INCLUDING DAMAGES FOR LOSS OF PROFITS, GOODWILL, OR ANY OTHER INTANGIBLE LOSS) ARISING OUT OF OR RELATING TO YOUR ACCESS TO OR USE OF, OR YOUR INABILITY TO ACCESS OR USE, THE SERVICES OR ANY MATERIALS OR CONTENT ON THE SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), STATUTE, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT ANY TAEDL ENTITY HAS BEEN INFORMED OF THE POSSIBILITY OF DAMAGE.  WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, TAEDL’S AGGREGATE LIABILITY TO YOU (WHETHER UNDER CONTRACT, TORT, STATUE OR OTHEWISE) SHALL BE ZERO DOLLARS. THE FOREGOING LIMITATIONS WILL APPLY EVEN IF ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE.
        <h3>3. CHANGES</h3>
        WE RESERVE THE RIGHT, AT OUR DISCRETION, TO CHANGE TERMS AND CONDITIONS, AS ON A GOING-FORWARD BASIS AT ANY TIME.
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
