<div class="crosstab-table-container" *ngIf="table?.headers">
  <table class="crosstab-table" *ngFor="let total of totalsArray; let ctInd = index">
    <tr class="crosstab-headers-row" *ngIf="ctInd === 0">
      <th *ngFor="let h of table?.headers" class="crosstab-header">{{h}}</th>
    </tr>
    <tr *ngFor="let row of grouped(total.name); let ind = index;" class="crosstab-row"
        [ngStyle]="{'background-color': colour(ctInd)}">
      <td *ngFor="let cell of row; let cind = index" class = "crosstab-cell"
          [ngClass]="{'bordered-left' : isNewValue(total, row, ind, cind, cell),  'bordered-top': isNewValue(total, row, ind, cind, cell) && ind !== 0, 'bordered-right': cind === row.length - 1}">
        <div *ngIf="isNewValue(total, row, ind, cind, cell)">
          {{cell}}
        </div>
        <div *ngIf="!isNewValue(total, row, ind, cind, cell)">
          &nbsp;
        </div>
      </td>
    </tr>
  </table>
</div>

