/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import "~ng-drag-drop/style.css";

@import '~@angular/material/theming';
@include mat-core();

$md-mcgpalette0: (
  50 : #e4f1ff,
  100 : #badcfe,
  200 : #8dc5fd,
  300 : #5faefc,
  400 : #3c9cfc,
  500 : #1a8bfb,
  600 : #1783fa,
  700 : #1378fa,
  800 : #0f6ef9,
  900 : #085bf8,
  A100 : #ffffff,
  A200 : #edf2ff,
  A400 : #bacfff,
  A700 : #a1bdff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-app-primary: mat-palette($md-mcgpalette0);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);


app-root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

