@import '../../variables.scss';

.report-container {
  display: grid;
  grid-gap: 1em;
  margin: 1em 0.05em;
  grid-template-columns: 1fr 4fr 1fr;

  .drag-container {
    background-color: whitesmoke;

    mat-expansion-panel {
      margin: 0.5em;
    }

    .stretched-button {
      text-align: left;
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0.5em auto;
      border: 1px solid black;
      color: black;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .selected-column {
      border: 1px solid $primary;
      background-color: $primary;
      color: $white;
    }

    .selected-row {
      border: 1px solid $accent;
      background-color: $accent;
      color: $white;
    }
  }

  .info-container {
    background-color: whitesmoke;

    .type-toggle {
      margin-top: 0.5em;
      margin-left: 0.5em;
      background-color: white;
    }

    .data {
      margin-left: 0.5em !important;
      margin-right: 0.5em !important;
      margin-bottom: 0.5em !important;
      overflow-x: scroll;

      .mat-cell {
        min-width: 6em;
      }

      .mat-header-cell{
        min-width: 6em;
      }
    }

    .drop-container {
      background-color: #fff;
      border-radius: 2px;
      color: $primary;
      margin: 0.5em;
      //padding: 0.5em;

      .stretched-button {
        text-align: left;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 1em 0.5em;
        border: 1px solid $primary;
        color: $primary;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

      .row-button {
        border: 1px solid $accent;
        color: $accent;
      }

      .title {
        margin-left: 0.5em;
        font-weight: 600;
      }

      .row-title {
        color: $accent;
      }
    }
  }

  .filters-container {
    background-color: whitesmoke;

    .type-toggle {
      margin-top: 0.5em;
      margin-left: 0.5em;
      background-color: white;
    }

    .drop-container {
      background-color: #fff;
      border-radius: 2px;
      color: $primary;
      margin: 0.5em;
      padding-bottom: 0.5em;

      .stretched-button {
        text-align: left;
        display: block;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0.5em auto;
        border: 1px solid $primary;
        color: $primary;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}


.description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  color: $primary;
  padding: 1.5em;
}

.padded-lots {
  padding-top: 6em;
  padding-bottom: 6em;
}

.row-description {
  color: $accent;
}
