.container {

  text-align: center;
  .form-box {

    //display: inline-block;
    margin: 0.5em;

    .field {
      margin: 0.5em;
      min-width: 15em;
    }
    .connection {
      min-width: 30em;
    }
  }
}

