<mat-toolbar>Please select tables for your Domain</mat-toolbar>

<div class="domain-container">

  <div class="drag-container"
       cdkDropList
       [cdkDropListData]="tables"
       [cdkDropListConnectedTo]="[setsList]"
       #tablesList>

    <button *ngFor="let t of tables" [disabled]="t.selected" disableRipple class="stretched-button" mat-raised-button cdkDrag>
      {{t.table.name}}
    </button>
  </div>

  <!--<div class="drop-container" *ngIf="tables?.length > 0" droppable (onDrop)="onTableDrop($event)"  [ngClass]="{'description': !isSelected()}">-->
    <!--<span *ngIf="!isSelected()">Drop your tables here</span>-->
    <!--<button *ngFor="let s of selectedTables" mat-raised-button disableRipple class="stretched-button">-->
      <!--<mat-icon (click)="cancelTable(s)">cancel</mat-icon>-->
      <!--{{s.name}}-->
    <!--</button>-->
  <!--</div>-->

  <div class="drop-container" *ngIf="tables?.length > 0"
       cdkDropList (cdkDropListDropped)="onTableDrop($event)"
       [cdkDropListConnectedTo]="[tablesList]"
       [cdkDropListData]="selectedTables"
       [ngClass]="{'description': !isSelected()}"
       #setsList>

    <span *ngIf="!isSelected()">Drop your tables here</span>
    <button *ngFor="let s of selectedTables" mat-raised-button disableRipple class="stretched-button">
      <mat-icon (click)="cancelTable(s)">cancel</mat-icon>
      {{s.name}}
    </button>
  </div>

  <div class="joins-container">
    <div *ngIf="connection" echarts [options]="option" (chartClick)="onChartEvent($event, 'chartClick')"></div>
  </div>


</div>
<div class="data mat-elevation-z1" *ngIf="selectedTables?.length && resultTableHeaders && tableDataSource">
  <mat-table #table [dataSource]="tableDataSource" matSort>
    <ng-container *ngFor="let h of resultTableHeaders" matColumnDef={{h}}>
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{h}}</mat-header-cell>
      <mat-cell *matCellDef="let data" class="left-align">{{data[h]}}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="resultTableHeaders"></mat-header-row>
    <mat-row *matRowDef="let data; columns: resultTableHeaders;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>


<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>

