<mat-toolbar>Please start with connecting to a Database</mat-toolbar>
<mat-card>
  <mat-card-content>
    <div class="container">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-box mat-elevation-z1">
        <mat-form-field class="field connection">
          <input matInput placeholder="endpoint URL" formControlName="endpoint" required>
          <mat-error *ngIf="isFieldInvalid('endpoint')">Please enter endpoint URL</mat-error>
        </mat-form-field>

        <mat-form-field class="field">
          <input matInput placeholder="database name" formControlName="database" required>
          <mat-error *ngIf="isFieldInvalid('database')">Please enter DB name</mat-error>
        </mat-form-field>

        <mat-form-field class="field">
          <input matInput placeholder="user" formControlName="user" required>
          <mat-error *ngIf="isFieldInvalid('user')">Please enter user name</mat-error>
        </mat-form-field>

        <mat-form-field class="field">
          <input matInput type="password" placeholder="password" formControlName="password" required [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="isFieldInvalid('password')">Please enter password</mat-error>
        </mat-form-field>

        <mat-form-field class="field c">
          <mat-select placeholder="vendor" formControlName="vendor" required>
            <mat-option *ngFor="let v of vendors" [value]="v">{{v}}</mat-option>
            <mat-error *ngIf="isFieldInvalid('vendor')">Please enter DB vendor</mat-error>
          </mat-select>
        </mat-form-field>


        <mat-checkbox formControlName="agreed" class="term-field">Agree to&nbsp;</mat-checkbox>
        <span class="as-link field" (click)="openTermsTab()">Terms&nbsp;&&nbsp;Conditions</span>

        <button mat-raised-button disabled *ngIf="!isFieldsSet()">Connect</button>

        <button color="accent" type="submit" mat-raised-button *ngIf="isFieldsSet()">Connect</button>

        <div class="field">
          <mat-icon color="primary" class="info">info</mat-icon> You could try Taedl with our sample database
          <button type="button" mat-raised-button color="primary" class="field" (click)="setExampleConnection()">Use sample database</button>
        </div>

      </form>
    </div>
  </mat-card-content>
</mat-card>


