@import '../../variables.scss';

.container {
  margin-left: 2em;
  margin-right: 2em;

  .form-box {

    padding-bottom: 1em;

    .field {
      margin: 1em;
      min-width: 10em;
    }

    .connect-button {
      margin-left: 1em;
    }

    .terms-field {
      margin: 1em 0 1em 1em;
    }

    .breaking-field {
      display: inline-block;
    }
    .as-link {
      text-decoration: underline;
      cursor: pointer;
      vertical-align: middle;
      margin-left: 0;
    }
    .connection {
      min-width: 30em;
    }

    .info {
      vertical-align: middle;
    }
  }
}

.t-and-cs {
  margin-top: 2em;
  font-size: 0.5em;
}

@media screen and (max-width: 600px) {
  .container {
    margin-left: 1em;
    margin-right: 1em;

    .form-box {

      padding-bottom: 1em;

      .field {
        margin: 1em;
        min-width: 90%;
      }

      .terms-field {
        margin: 1em 0 1em 1em;
        min-width: 90%;
      }

      .breaking-field {
        display: block;
      }
      .as-link {
        text-decoration: underline;
        cursor: pointer;
        vertical-align: middle;
        margin-left: 0;
      }
      .connection {
        min-width: 90%;
      }
    }
  }
}
