@import '../../variables.scss';

.crosstab-table-container {
  background-color: $white;
  font-size: 14px;
  overflow-x: scroll;

  .crosstab-table {
    width: 100%;

    .crosstab-headers-row {
      display: flex;
      align-items: center;
      min-height: 48px;
      border-bottom: 2px solid $white;

      .crosstab-header {
        flex: 1;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        padding: 0 24px;
        color: $dark-grey;
        min-width: 8em;
      }
    }

    .crosstab-row {
      display: flex;
      align-items: center;
      min-height: 48px;

      .crosstab-cell {
        flex: 1;
        border-left: 2px solid $white;
        min-height: 48px;
        line-height: 48px;
        padding: 0 24px;
        min-width: 8em;
      }

      .bordered-top {
        border-top: 2px solid $white;
      }

      .bordered-left {
        border-left: 2px solid $white;
      }

      .bordered-bottom {
        border-bottom: 2px solid $white;
      }

      .bordered-right {
        //border-right: 1px solid rgba(0, 0, 0, .12);
        border-right: 2px solid $white;
      }

      .summary-row {
        padding-bottom: 2em;
      }
    }
  }
}

