<mat-toolbar>Please select tables for your Domain</mat-toolbar>

<div class="domain-container">
  <div class="drag-container">
    <button *ngFor="let t of tables"mat-raised-button  draggable [dragData]="t" [disabled]="t.selected" class="stretched-button">{{t.table.name}}</button>
  </div>

  <div *ngIf="tables.length > 0" droppable (onDrop)="onTableDrop($event)" class="drop-container" [ngClass]="{'description': !isSelected()}">
    <span *ngIf="!isSelected()">Drop your tables here</span>

    <div *ngFor="let s of selectedTables">{{s.name}}</div>

  </div>
</div>
<div class="data">
  ...tables to be here
</div>


