<mat-toolbar>Please select tables for your Domain</mat-toolbar>

<div class="domain-container">
  <div class="drag-container">
    <button *ngFor="let t of tables" mat-raised-button draggable [dragData]="t" [disabled]="t.selected" disableRipple class="stretched-button">{{t.table.name}}</button>
  </div>

  <div class="drop-container" *ngIf="tables.length > 0" droppable (onDrop)="onTableDrop($event)"  [ngClass]="{'description': !isSelected()}">
    <span *ngIf="!isSelected()">Drop your tables here</span>
    <button *ngFor="let s of selectedTables" mat-raised-button disableRipple class="stretched-button">{{s.name}}</button>
  </div>

  <div class="joins-container">
    <div echarts [options]="option" (chartClick)="onChartEvent($event, 'chartClick')"></div>
    <!--<div style="display:inline-block; float: right">foobr<br>alnd more....</div>-->
  </div>

  <div class="joins-configurer">
    configurer
  </div>

</div>
<div class="data mat-elevation-z2" *ngIf="resultTableHeaders && tableDataSource">
  <div *ngIf="tableDataSource && resultTableHeaders">
    <mat-table #table [dataSource]="tableDataSource" matSort>
      <ng-container *ngFor="let h of resultTableHeaders" matColumnDef={{h}}>
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{h}}</mat-header-cell>
        <mat-cell *matCellDef="let data" class="left-align">{{data[h]}}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="resultTableHeaders"></mat-header-row>
      <mat-row *matRowDef="let data; columns: resultTableHeaders;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

</div>


