<mat-toolbar>Please select tables for your Domain</mat-toolbar>

<div class="domain-container">
  <div class="drag-container">
    <button *ngFor="let t of tables" mat-raised-button draggable [dragData]="t" [disabled]="t.selected" disableRipple class="stretched-button">{{t.table.name}}</button>
  </div>

  <div class="drop-container" *ngIf="tables.length > 0" droppable (onDrop)="onTableDrop($event)"  [ngClass]="{'description': !isSelected()}">
    <span *ngIf="!isSelected()">Drop your tables here</span>
    <button *ngFor="let s of selectedTables" mat-raised-button disableRipple class="stretched-button">{{s.name}}</button>
  </div>

  <div class="joins-container">
    ...joins go here
  </div>

</div>
<div class="data">
  ...tables to be here
</div>


